#gform_zohocrm_deauth_button {
    margin-top: 1em;
}
#tab_gravityformszohocrm table.gforms_form_settings > tbody > tr > th {
    padding: 0;
    width: 0;
}

#tab_gravityformszohocrm table.gforms_form_settings > tbody > tr:last-child {
    display: none;
}